a {
	color: hsla(200, 60%, 45%, 1);
	text-decoration: none;}
a:hover {
	text-decoration: underline;}
.bio {
	width: 350px;
	font-family: 'Open Sans', Sans-serif;}
.bio header img {
	max-width: 100%;
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: black;}
.bio header h1,
.bio header h2 {
	margin: 0;}

.bio header h2 
	{font-weight: 200;}

.bio footer {
	background-color: hsla(0, 0%, 0%, .1);
	padding: 10px;}
